* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik" sans-serif;
  line-height: 1;
  font-weight: 400;
  color: rgb(185, 19, 19);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 228, 228);
  height: 9.6rem;
  padding: 0;
}
.logo {
  height: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: purple;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.4s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: crimson;
}

.section-hero {
  background-color: rgb(230, 228, 228);
  padding: 3rem 5rem;
}
.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  padding: 3rem;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 5rem;
  align-items: center;

  padding: 3rem 0;
}
.heading-primary,
.heading-secondary {
  font-weight: 600;
  color: black;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 6rem;

  line-height: 1;

  margin-bottom: 3rem;
}
.heading-secondary {
  font-size: 4.4rem;

  line-height: 1.2rem;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3 rem;
  line-height: 1.2rem;
  margin-bottom: 3rem;
  color: black;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 5rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: red;
}

.hero-img {
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.section-how {
  padding: 100px;
}
.step-number {
  font-size: 10rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 2rem;
  line-height: 1.8rem;
}
.step-img {
  width: 50%;
}
